{{!--
Re-usable card for linking to posts
--}}

<article class="card">
    <div class="text-part">
        <div class="header-part">
            {{!-- TODO:add primary tag check --}}
            {{#if primary_tag.name}}
            <p>{{primary_tag.name}}</p>
            {{else}}
            <p>AHASHA BLOG</p>
            {{/if}}
        </div>
        <a class='title' href="{{url}}">
            <h2>{{title}}</h2>
        </a>
        <div class="footer-part">
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
            {{#if reading_time}}
                <span class="bull">&bull;</span>
                <p> {{reading_time}}</span>
            {{/if}}
        </div>
    </div>
    <div class="img-part">
        <a href="{{url}}">
        {{#if feature_image}}
            <img class="gh-card-image"
                src="{{img_url feature_image}}"
                alt="{{title}}"
            />
        {{/if}}
    </a>
    </div>    
</article>