<ul>
    <li class="{{link_class for=('/') class=(concat "nav-" slug)}}">
    <a href="{{@site.url}}">{{t 'all'}}</a>
    </li>
    {{#foreach navigation}}
    <li class="{{link_class for=(url) class=(concat "nav-" slug)}}"><a href="{{url absolute="true"}}">{{t label}}</a></li>
    {{/foreach}}
</ul>
